<a href="https://colab.research.google.com/github/aastha0505/hello-world/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!python --version

Python 3.6.9

In [3]:
mod = 11 % 2
print(mod)

1

In [8]:
age = 10
if age >= 18:
  print("can vote")
else:
    print("wait for your turn")

wait for your turn

In [11]:
num = 1
while num < 10:
  num += 1
  print(num)
print("outside the loop")

2
3
4
5
6
7
8
9
10
outside the loop

In [0]:
def is_even(n):
  return n % 2 == 0 

  num = 1
  while num < 10:
    if is_even(num):
      print("even")
      num += 1

In [0]:
LIMIT = 4000000
a, b = 0, 1
result = 0
while a < LIMIT:
  if is_even(a):
    result += a
    a, b = b, a + b

    print(result)

In [0]:
LIMIT = 4000000
sum ([x for x in fib(LIMIT) if x % 2 == 0])

In [32]:
college = "jntu engineering college hyderabad"
college[0]
college[1]
college[-1]
college[0:10:1]

'jntu engin'

In [0]:

a, b = 10, 20
a,b = bbb